naam{
border: 1px;
border-style: dashed black;
}   
.achternaam{
    border: 1px;
    border-style: dashed black;
}
.email{
    border: 1px;
    border-style: dashed black;
}
.website{
    border: 1px;
    border-style: dashed black;
}
.bericht{
    border: 1px;
    border-style: dashed black;
}