#container{
    margin-left: 50%;
    min-height: 600px;
    width: 20%;
    background-color: gray;
}
.button{
    height: 50px;
    width: 30%;
    text-align: center;
    background-color: rgb(211, 28, 28);
    border: 1px black;
    border-style: dashed;
    display: inline-block;
}

.card{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    /* border: 1px black;
    border-style: dashed; */
    display: inline-block;
}
#card1{
    transform: translateX(15px);
}

#card2{
    
}

#card3{
    transform: translateX(-15px);
}