body{
    width:100%;
    height:100%;
  }

  /* #beweeg{
    width: 20px;
    border-radius: 50%;
    background: black;
    height:20px;
    position:absolute; 
    top: 0;
    left: 0;
  } */
.tree{
  height: 50px;
  width: 50px;
  left: unset;
  position: absolute;

}
.block{
  border: 1px;
  border-style: dashed;
  float: right;
  margin-right: 17px;
}
#beweeg{
    position: absolute;
}
#car{
  position:absolute;
}