/* https://coolors.co/f7fff7-344966-cc5a71-6ca6c1-01a7c2 */
@font-face {
  font-family: Graphik;
  src: url(Graphik-Semibold-Web.woff2);
}
* {
  font-family: Graphik;
  /* background-color: aqua; */
  margin: 0px;
}
#header {
  background-color: #6ca6c1;
  height: 50px;
  width: 100%;
  border: #25535a 2px;
  border-style: solid;
}
#sidebar {
  background-color: #344966;
  float: left;
  height: 690px;
  width: 15%;
}
#content {
  background-color: #f7fff7;
  float: right;
  width: 85%;
  min-height: 690px;
}
.knop_header {
  min-height: 20px;
  min-width: 40px;
  margin-right: 5px;
  margin-top: 7px;
  background-color: white;
  display: inline-block;
  float: right;
}
.knop_header.div {
  text-align: center;
  background-color: brown;
}
.logo {
  font-family: "Comfortaa", cursive;
  font-size: 38px;
  line-height: 1.1;
  letter-spacing: -0.116em;
  font-weight: 900;
  font-style: normal;
}
/* einde base start kaarten
als je de base kaart groote aanpast moet je ook kaartboven en kaartonder de hoogte aanpassen 
*/
.kaart {
  height: 350px;
  width: 250px;
  /* background-color: #01A7C2; */
  display: inline-block;
  margin: 4px;
}
.bovenkaart {
  height: 175px;
  width: 250px;
  background-color: aqua;
  text-align: center;
}
.onderkaart {
  height: 175px;
  width: 250px;
  background-color: #01a7c2;
  text-align: center;
}
