@charset "utf-8";

#muur {
	width: 500px;
	height: 300px;
	background-color: #d9d9d9;
}
.steen {
	background-color: orange;
	width: 100px;
	height: 25px;
	display: inline-block;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
.smaller {
	width: 80px;

}

.geen_cement_rechts {
	margin-right: 0px; 
}
.donker {
	background-color: #d9d9d9;
	width: 100px;
	height: 25px;
	display: inline-block;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

