#muur{
    width: 500px;
    height: 300px;
    background-color:#d9d9d9;
}
#steen1{
    background-color: orange;
    width: 80px;
    height:25px;
    display: inline-block;
}


#steen2{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;


}

#steen3{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;


}

#steen4{
    background-color: orange;
    width: 120px;
    height:25px;
    display: inline-block;


}
#steen5{
    background-color: orange;
    width: 83px;
    height:25px;
    display: inline-block;


}

#steen6{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;
}

#steen7{
    background-color: orange;
    width: 70px;
    height:25px;
    display: inline-block;


}

#steen8{
    background-color: orange;
    width: 50px;
    height:25px;
    display: inline-block;


}

#steen9{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;


}

#steen10{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;


}

#steen11{
    background-color: orange;
    width: 113px;
    height:25px;
    display: inline-block;


}


#steen12{
    background-color: orange;
    width: 40px;
    height:25px;
    display: inline-block;


}

#steen13{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;

    }


#steen14{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;

    }


#steen15{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;

    }

#steen16{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;

    }

#steen17{
    background-color: orange;
    width: 40px;
    height:25px;
    display: inline-block;

    }

#steen18{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;

    }

#steen19{
    background-color: orange;
    width: 30px;
    height:25px;
    display: inline-block;

    }


#steen20{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;

    }

#steen21{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;

    }

#steen22{
    background-color: orange;
    width: 154px;
    height:25px;
    display: inline-block;

    }

#steen23{
    background-color: orange;
    width: 70px;
    height:25px;
    display: inline-block;

    }

#steen24{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;

    }

#steen25{
    background-color: orange;
    width: 60px;
    height:25px;
    display: inline-block;

    }

#steen26{
    background-color: orange;
    width: 120px;
    height:25px;
    display: inline-block;

    }

#steen27{
    background-color: orange;
    width: 60px;
    height:25px;
    display: inline-block;

    }

#steen28{
    background-color: orange;
    width: 70px;
    height:25px;
    display: inline-block;


}

#steen29{
    background-color: orange;
    width: 35px;
    height:25px;
    display: inline-block;

    }

#steen30{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;

    }

#steen31{
    background-color: orange;
    width: 80px;
    height:25px;
    display: inline-block;

    }

#steen32{
    background-color: orange;
    width: 60px;
    height:25px;
    display: inline-block;

    }

#steen33{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;
}

#steen34{
    background-color: orange;
    width: 50px;
    height:25px;
    display: inline-block;
}

#steen35{
    background-color: orange;
    width: 50px;
    height:25px;
    display: inline-block;
}

#steen36{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;
}

#steen37{
    background-color: orange;
    width: 60px;
    height:25px;
    display: inline-block;
}

#steen38{
    background-color: orange;
    width: 70px;
    height:25px;
    display: inline-block;
}

#steen39{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;
}

#steen40{
    background-color: orange;
    width: 70px;
    height:25px;
    display: inline-block;
}

#steen41{
    background-color: orange;
    width: 80px;
    height:25px;
    display: inline-block;
}

#steen42{
    background-color: orange;
    width: 85px;
    height:25px;
    display: inline-block;
}

#steen42{
    background-color: orange;
    width: 74px;
    height:25px;
    display: inline-block;
}


#steen43{
    background-color: orange;
    width: 80px;
    height:25px;
    display: inline-block;
}

#steen44{
    background-color: orange;
    width: 80px;
    height:25px;
    display: inline-block;
}

#steen45{
    background-color: orange;
    width: 80px;
    height:25px;
    display: inline-block;
}

#steen46{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;
}

#steen47{
    background-color: orange;
    width: 66px;
    height:25px;
    display: inline-block;
}


#steen48{
    background-color: orange;
    width: 80px;
    height:25px;
    display: inline-block;
}

#steen49{
    background-color: orange;
    width: 60px;
    height:25px;
    display: inline-block;
}

#steen50{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;
}

#steen51{
    background-color: orange;
    width: 69px;
    height:25px;
    display: inline-block;
}

#steen52{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;
}

#steen53{
    background-color: orange;
    width: 70px;
    height:25px;
    display: inline-block;
}

#steen54{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;
}

#steen55{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;
}

#steen56{
    background-color: orange;
    width: 100px;
    height:25px;
    display: inline-block;
}

#steen57{
    background-color: orange;
    width: 80px;
    height:25px;
    display: inline-block;
}
#steen58{
    background-color: orange;
    width: 103px;
    height:25px;
    display: inline-block;
}