/* @font-face {
    font-family: avenir;
    src: url(https://fast.fonts.net/dv2/14/b729a5ee-0221-40db-9a76-7b9e9b747f65.woff2?d44f19a684109620e4841671a590e81832a2f2b4cde668ef7c57a1ff7c6ad42d7c73056bd94def23a783abe663446fd4a910329816982b492684bdd618d197bf0049effa0b58e159bd9e9ee5bacd94cfcd3bbb5f5f96fa7e204479972b595af0bb804e735e7bf37740e48bcf0b2b31d4d7a859178d86d3032d7d0a18ad3a0d9ee1e931f75f1b6cf2893f020bc505f3bf783a311c9c0dcd2ba6fb4281918db7acd05dbb5ce393232a2ba3ab68f9050fca53450f06efb84bb4403dab19d846488217442d82707f2e1e877a0aa95f33525cae5d821c87f737fee03e979ccc3faf37627a904c4b473ccff34f558f1f8c71f58de4c18ca2c46cdb93a1883b6f390bc21e238d8e31f0b40e7499e2bc97d68a9543f6f14757c306592d1d&projectId=bd16aca4-c519-460b-b3d9-01e74db801a5);
  }
#form{
    margin: 20px;
    margin-left: 250px;
    font-family: avenir;
} */